In [67]:
#import dependencies
import pandas as pd 
import os

In [68]:
#read in csv file 
vine_df = pd.read_csv('vine_data_table.csv') 
#confirm table load
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R100065P6TTS3J,4.0,0.0,0.0,N,Y
1,R10007MH6NTVFM,3.0,0.0,0.0,N,Y
2,R1000CIZTRNP23,4.0,3.0,3.0,N,Y
3,R1000JOVLD0J41,2.0,0.0,0.0,N,N
4,R1000YCFR347I2,3.0,1.0,1.0,N,Y

In [69]:
#filter dataframe to contain records where total votes => 20
vine_20 = vine_df[vine_df['total_votes'] >=20]

#confirm
vine_20.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
22,R10037MJ9LKCVM,5.0,72.0,74.0,N,Y
28,R1003WQ2N568UJ,5.0,139.0,140.0,N,Y
41,R1004OFK0BIRO3,5.0,138.0,141.0,N,N
51,R1005VMT0E345F,5.0,22.0,23.0,N,Y
56,R1006CNCT32VNM,5.0,17.0,20.0,N,N

In [70]:
#filter dataframe to contain records where helpful_votes/total_votes *100 => 50%
vine_50 = vine_20[(vine_20['helpful_votes']/vine_20['total_votes']*100) >= 50.0]

#confirm
vine_50.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
22,R10037MJ9LKCVM,5.0,72.0,74.0,N,Y
28,R1003WQ2N568UJ,5.0,139.0,140.0,N,Y
41,R1004OFK0BIRO3,5.0,138.0,141.0,N,N
51,R1005VMT0E345F,5.0,22.0,23.0,N,Y
56,R1006CNCT32VNM,5.0,17.0,20.0,N,N

In [71]:
#filter dataframe to contain records where vine == Y 
vine_paid = vine_50[vine_50['vine']=='Y']
#confirm
vine_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5658,R10A5XNAP2Y4N7,5.0,33.0,36.0,Y,N
15676,R10T07ZEB56X21,5.0,121.0,132.0,Y,N
41243,R1241UCQGRHCNH,5.0,72.0,76.0,Y,N
44690,R12AB66IMT9Q8W,3.0,68.0,76.0,Y,N
50149,R12MDZCKDWYE67,5.0,27.0,31.0,Y,N

In [72]:
#filter data frame to contain records where vine ==N 
vine_not_paid = vine_50[vine_50['vine']=='N']
#confirm
vine_not_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
22,R10037MJ9LKCVM,5.0,72.0,74.0,N,Y
28,R1003WQ2N568UJ,5.0,139.0,140.0,N,Y
41,R1004OFK0BIRO3,5.0,138.0,141.0,N,N
51,R1005VMT0E345F,5.0,22.0,23.0,N,Y
56,R1006CNCT32VNM,5.0,17.0,20.0,N,N

In [73]:
#count total number of reviews 
count = len(pd.unique(vine_50['review_id']))
print("Total number of reviews:", count)

Total number of reviews: 38010

In [74]:
#count number of paid reviews
paid_count = len(vine_50[(vine_50['vine'] == 'Y')])
print("Total number of  paid reviews:", paid_count)

Total number of  paid reviews: 170

In [75]:
#number of paid 5 star reviews 
paid_five_star_count = len(vine_50[(vine_50['vine'] == 'Y') & (vine_50['star_rating'] ==5)])
print("Total number of paid five star reviews:", paid_five_star_count)

Total number of paid five star reviews: 65

In [76]:
#count number of unpaid reviews
unpaid_count = len(vine_50[(vine_50['vine'] == 'N')])
print("Total number of unpaid reviews:", unpaid_count)

Total number of unpaid reviews: 37840

In [77]:
#number of unpaid 5 star reviews 
unpaid_five_star_count = len(vine_50[(vine_50['vine'] == 'N') & (vine_50['star_rating'] ==5)])
print("Total number of unpaid five star reviews:", unpaid_five_star_count)

Total number of unpaid five star reviews: 20612

In [80]:
#Percentage of paid 5 star reviews 
percent_paid_five_star = (paid_five_star_count/count)*100
#round value 
percent_paid_five_star_rounded = round(percent_paid_five_star, 6)
print("Percentage of paid five star reviews out of total number reviews:", percent_paid_five_star_rounded)

Percentage of paid five star reviews out of total number reviews: 0.171008

In [81]:
#Percentage of paid 5 star reviews 
percent_unpaid_five_star = (unpaid_five_star_count/count)*100
#round value 
percent_unpaid_five_star_rounded = round(percent_unpaid_five_star, 6)
print("Percentage of unpaid five star reviews out of total number reviews:", percent_unpaid_five_star_rounded)

Percentage of unpaid five star reviews out of total number reviews: 54.227835